<%- include('partials/header', { title: 'Home'}) %>
<div class="container">
    <h1>Thank you for ordering</h1>
    <a href="/login/out"><button class="btn btn-danger">Logout</button></a>
</div>
<%- include('partials/footer', { page: 'Home'}) %>
